

.container {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
}


h1 {
    margin-bottom: 40px;
}


.form-section {
    margin-bottom: 20px;
    
  }
  
.form-section p {
    margin: 10px 0;
    font-weight: bold;
    color: #f0f0f0;
}
  

.form-section button {
    background-color: #333;
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  

.form-section button:hover,
.form-section button:active {
    background-color: #555;
}
  

.form-section select {
    padding: 10px;
    background-color: #333;
    color: #f0f0f0;
    border: none;
    margin-top: 10px;
}